[submodule "git"]
	path = github.com/git/git
	url = github.com:git/git
[submodule "coreutils"]
	path = git.savannah.gnu.org/coreutils
	url = git://git.savannah.gnu.org/coreutils
[submodule "time"]
	path = git.savannah.gnu.org/time
	url = git://git.savannah.gnu.org/time
[submodule "git.savannah.gnu.org/tar"]
	path = git.savannah.gnu.org/tar
	url = git://git.savannah.gnu.org/tar
[submodule "git.savannah.gnu.org/parallel"]
	path = git.savannah.gnu.org/parallel
	url = git://git.savannah.gnu.org/parallel
[submodule "git.savannah.gnu.org/screen"]
	path = git.savannah.gnu.org/screen
	url = git://git.savannah.gnu.org/screen
[submodule "git.savannah.gnu.org/mpria"]
	path = git.savannah.gnu.org/mpria
	url = git://git.savannah.gnu.org/mpria
[submodule "git.savannah.gnu.org/lilypond"]
	path = git.savannah.gnu.org/lilypond
	url = git://git.savannah.gnu.org/lilypond
[submodule "git.savannah.gnu.org/grub"]
	path = git.savannah.gnu.org/grub
	url = git://git.savannah.gnu.org/grub
[submodule "git.savannah.gnu.org/freeipmi"]
	path = git.savannah.gnu.org/freeipmi
	url = git://git.savannah.gnu.org/freeipmi
[submodule "git.savannah.gnu.org/chess"]
	path = git.savannah.gnu.org/chess
	url = git://git.savannah.gnu.org/chess
[submodule "git.savannah.gnu.org/c-intro-and-ref"]
	path = git.savannah.gnu.org/c-intro-and-ref
	url = git://git.savannah.gnu.org/c-intro-and-ref
[submodule "git.savannah.gnu.org/gnuastro"]
	path = git.savannah.gnu.org/gnuastro
	url = git://git.savannah.gnu.org/gnuastro
[submodule "git.savannah.gnu.org/aris"]
	path = git.savannah.gnu.org/aris
	url = git://git.savannah.gnu.org/aris
[submodule "github.com/git/madler/zlib"]
	path = github.com/madler/zlib
	url = github.com:madler/zlib
[submodule "github.com/git/madler/pigz"]
	path = github.com/madler/pigz
	url = github.com:madler/pigz
[submodule "github.com/WayneD/rsync"]
	path = github.com/WayneD/rsync
	url = github.com:WayneD/rsync
[submodule "github.com/certbot/certbot"]
	path = github.com/certbot/certbot
	url = github.com:certbot/certbot
[submodule "icing/mod_md"]
	path = github.com/icing/mod_md
	url = github.com:icing/mod_md
[submodule "github.com/apache/httpd"]
	path = github.com/apache/httpd
	url = github.com:apache/httpd
[submodule "github.com/apache/storm"]
	path = github.com/apache/storm
	url = github.com:apache/storm
[submodule "github.com/gnuradio/gnuradio"]
	path = github.com/gnuradio/gnuradio
	url = github.com:gnuradio/gnuradio
[submodule "github.com/ffmpeg/ffmpeg"]
	path = github.com/ffmpeg/ffmpeg
	url = github.com:ffmpeg/ffmpeg
[submodule "github.com/openssl/openssl"]
	path = github.com/openssl/openssl
	url = github.com:openssl/openssl
[submodule "github.com/videolan/vlc"]
	path = github.com/videolan/vlc
	url = github.com:videolan/vlc
[submodule "github.com/FFTW/fftw3"]
	path = github.com/FFTW/fftw3
	url = github.com:FFTW/fftw3
[submodule "git.savannah.gnu.org/gnugo"]
	path = git.savannah.gnu.org/gnugo
	url = git://git.savannah.gnu.org/gnugo
[submodule "github.com/mobile-shell/mosh"]
	path = github.com/mobile-shell/mosh
	url = github.com:mobile-shell/mosh
[submodule "github.com/recursion-ninja/CSc-85020"]
	path = github.com/recursion-ninja/CSc-85020
	url = github.com:recursion-ninja/CSc-85020
